/*this is the header style --mobile*/
.header{
    background-color:  #4CAF50;
    color: white;
    height: 10vh;
    margin: 0 auto;
    padding-top: .5px;
    position: relative;
  
}

.header > *{
    display: inline-block;
}

.menu-icon{
    font-size: 2rem;
    padding-left: 3%;
}

.title{
    margin-left: 19%;
    margin-top: 2%;
}

.cart-icon{
    float: right;
    font-size: 2rem;
    padding-right: 5%;
    padding-top: 5%;
}

/*this is the main-page style -- mobile*/

.main-container{ 
    height: 500px;
    width: 375px;  
}

.main-tea-img{
    height: 170px;
    width: 375px;
}

.main-tea-text{
    font-family: 'Lucida Sans';
    font-size: 1.25rem;
    padding: 20px 20px 0 20px;
    text-align: center;
    width: 375px;
}


/*nav menu style -- mobile */

.mobile-container {
    max-width: 480px;
    margin: auto;
    background-color: #555;
    height: 500px;
    color: white;
    border-radius: 10px;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav .hide-nav-menu{
    display: none;
  }

  
  .topnav .link-page{
    color: white;
    display: block;
    font-size: 20px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
  }
  
  /* .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  } */
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* .active {
    background-color: #333;
    color: white;
  } */


  /* products page - card format for each item to display in all products view --mobile */


  .view-all-cards{
    border: 1px solid black;
  }

  /*productDetail - card format for detail view --mobile */

  .card-detail{
    border: none;
  }


 
